body {
    font-weight: 300;
}

h1 {
    font-weight: 300;
    border-bottom: 1px solid $brand-primary;
    padding-bottom: 10px;
    margin-bottom: 25px;

    @media (max-width: $screen-sm-min) {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    a {
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
        text-decoration: none;
    }
}

.glyphicon.spinning {
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: $screen-sm-min) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: $screen-md-min) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: $screen-lg-min) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

.pagination-section {
    padding: 15px 0 0 0;

    .pagination {
        margin: 0;
    }
}

.book-list {
    padding: 20px 0;
    margin: 0;
}

.book-list-item {
    list-style: none;
    border: 1px solid lighten($brand-primary,50%);
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover {
        border: 1px solid $brand-primary;
    }
}

.book-list-item-title {
    display: block;
    font-weight: 400;
    font-size: 1.1em;
    border-bottom: 1px solid lighten($brand-primary, 70%);
    padding-bottom: 4px;
    margin-bottom: 4px;
    line-height: 1.2em;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.book-list-item-author, .book-list-item-publication-year, .book-list-item-publication-place, .book-list-item-subject {
    font-size: 0.9em;
}

.book-list-item-label {
    font-weight: 400;
}

.filters {
    padding: 5px 0;
}

.filter-tags {
    .btn {
        margin: 10px 10px 0 0;
    }
}

.no-results {
    text-align: center;
    padding: 20px;
    border: 1px dashed $brand-primary;
    margin: 20px 0;
}

.info-section {
    padding: 15px 0;
    border-top: 1px solid $brand-primary;
    border-bottom: 1px solid $brand-primary;
    font-size: 0.8em;
    margin: 15px 0;
}

.footer-section {
    padding-bottom: 15px;
    font-size: 0.8em;
    position: relative;
    text-align: justify;

    .footer-logo {
        float: right;
        display: block;
        position: relative;
        background: url("../images/logo_ekt_header.jpg") no-repeat center center;
        background-size: contain;
        width: 84px;
        height: 41px;
        margin-left: 20px;
    }
}

@media (max-width: $screen-sm-min) {
    .filters {
        .form-control, .Select-control {
            margin-bottom: 10px;
        }
    }
}
