$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Roboto', sans-serif;

$brand-primary: #333;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;


$select-input-border-focus: $brand-primary;
$select-item-color: $brand-primary;
$select-input-height: 34px;
$select-item-border-radius: 0;
$select-input-border-radius: 0;
$select-input-border-color: $brand-primary;

$input-border: $brand-primary;

